Package: com.popsicletreehouse.staywithme
Name: StayWithMe
Version: 0.0.1
Architecture: iphoneos-arm
Description: Stop your most recently opened app from clearing in the app switcher.
Maintainer: PopsicleTreehouse
Author: PopsicleTreehouse
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, com.spark.libsparkapplist
